.product-icons  {
    text-shadow:
        1px 1px 0 orange,
        1px -1px 0 orange,
        -1px 1px 0 orange,
        -1px -1px 0 orange;
    color: white;
    transition: all 1s;
    padding: unset;
}
.product-icons:hover  {
    text-shadow:
        1px 1px 0 yellowgreen,
        1px -1px 0 yellowgreen,
        -1px 1px 0 yellowgreen,
        -1px -1px 0 yellowgreen;
}
.product-info-main .product-reviews-summary {
    float: unset;
}
